<div @fadeAnimation class="fixed bottom-4 left-1/2 -translate-x-1/2 z-50 mx-auto flex items-center p-4 mb-4 rounded-lg
                         bg-red-50 dark:bg-gray-800 border-1 transition-all duration-500 w-4/5 md:max-w-2xl"
     [ngClass]="this.dataService.error_color == 'red'    ? 'text-red-800 dark:text-red-400 !border-red-600' :
                this.dataService.error_color == 'yellow' ? 'text-yellow-800 dark:text-yellow-400 !border-yellow-600' :
                                                           'text-green-800 dark:text-green-400 !border-green-600'">
  <fa-icon [icon]="faBug" class="flex-shrink-0 mb-2 w-4 h-4"></fa-icon>
  <span class="sr-only">Info</span>
  <div class="ms-3 text-sm font-medium me-2">
    <strong>{{ this.dataService.error_title.replaceAll('..', '') }}: </strong>
    <span [innerHTML]="this.dataService.error_desc.replaceAll('›', '')"></span>
  </div>
  <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2
                                   focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center
                                     h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700
                                     transition-colors duration-500"
          (click)="this.dataService.showAlertBox = false;">
    <span class="sr-only">Close</span>
    <fa-icon [icon]="faXmark" class="flex-shrink-0 mb-2 w-4 h-4"></fa-icon>
  </button>
</div>
