<dashboard-layout>

  <section class="flex flex-auto flex-col bg-gradient-to-tl from-blue-50 via-gray-50 to-slate-100
                dark:from-slate-900 dark:via-gray-900 dark:to-slate-800 transition-colors duration-500">

    <!-- Alert Box -->
    @if (this.dataService.showAlertBox) {
      <app-alert-box></app-alert-box>
    }

    <!-- Page Thumb -->
    <page-thumb [subtitle]="'PAGE_WISHLIST_SUBTITLE' | translate" [color]="'yellow'"
                [title]="'PAGE_WISHLIST_TITLE' | translate" [desc]="'PAGE_WISHLIST_DESC' | translate"></page-thumb>

    <!-- Content -->
    <div class="flex flex-col lg:flex-row p-6 sm:p-10 gap-6 overflow-hidden !pl-2 !pb-4 h-full">
      <!-- Sidebar -->
      <div class="w-full lg:w-64">
        <h2 class="text-lg font-medium mb-4 pt-2 text-gray-800 dark:text-gray-200 px-4">TAGS</h2>
        <div class="space-y-2">
          @for (tag of tags; track $index) {
            <div class="flex px-4 py-2 rounded-full cursor-pointer transition-colors duration-300" (click)="filterFeatures(tag.id)"
                 [ngClass]="tag.isActive ? 'bg-gray-300 dark:bg-gray-700' : 'hover:bg-gray-300 dark:hover:bg-gray-800'">
              <fa-icon [icon]="$index === 0 ? faInbox : faHashtag"
                       [ngClass]="tag.isActive ? (tag.color ? '' : 'text-orange-500 dark:text-orange-400') : 'text-gray-400 dark:text-gray-500'"
                       [ngStyle]="tag.isActive && tag.color ? {'color': tag.color} : {}"
                       class="w-5 h-5 transition-colors duration-500" size="lg"></fa-icon>
              <span class="ml-3 font-medium transition-colors duration-500"
                    [ngClass]="tag.isActive ? 'text-gray-900 dark:text-gray-100' : 'text-gray-600 dark:text-gray-400'">
                {{ tag.name | translate }}
                </span>
            </div>
          }
        </div>
      </div>

      <!-- Divider - for big screens -->
      <div class="hidden lg:flex items-center">
        <div class="h-4/5 w-px bg-gray-300 dark:bg-gray-700"></div>
      </div>

      <!-- Main Content -->
      <div class="flex-1">
        <!-- Search & Button -->
        <div class="flex flex-col sm:flex-row items-start sm:items-center gap-4 sm:gap-x-5 mb-4">
          <div class="w-full sm:flex-1">
            <div class="flex-1 ml-4 lg:ml-0 ">
              <div class="relative self-center">
                <fa-icon [icon]="faSearch" class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-500 transition-colors duration-500"></fa-icon>
                <input type="text" [placeholder]="'WISHLIST_SEARCH_PLACEHOLDER' | translate"
                       (keyup)="searchFeatures($event)" id="search_wishlist"
                       class="w-full pl-10 pr-4 py-2 bg-white dark:!bg-gray-800 rounded-full !border border-gray-300
                            dark:!border-gray-700 focus:outline-none focus:ring-2 focus:ring-orange-500 transition-colors duration-500" />
              </div>
            </div>
          </div>
          <a routerLink="/dashboard/contact" class="self-center md:self-start">
            <button type="button" class="w-full sm:w-auto text-white bg-gradient-to-r from-yellow-600 via-orange-500
                               to-orange-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-orange-700 focus:outline-none
                               font-medium px-3 py-2.5 text-center rounded-2xl">
              <fa-icon [icon]="faLightbulb" class="me-2"></fa-icon>
              <p [innerText]="'WISHLIST_BUTTON_IDEA' | translate" class="inline-block mb-0"></p>
            </button>
          </a>
        </div>

        <div class="flex lg:hidden items-center justify-center">
          <div class="h-px w-4/5 bg-gray-300 dark:bg-gray-700"></div>
        </div>

        <div class="mt-8 md:mt-4 grid grid-cols-1 gap-8 sm:mt-10 sm:grid-cols-2 2xl:grid-cols-3 sm:overflow-y-auto
                    !h-auto lg:!h-[calc(100vh-440px)] pr-5 md:!pr-10 pl-5 lg:pl-0 w-full md:w-[106%] lg:w-full">

          <!-- No items found -->
          @if (this.allItemsDisabled) {
            <div [@fadeInOut] class="col-span-full flex flex-col items-center">
              <p class="mt-4 text-gray-500 dark:text-gray-400 transition-colors duration-500">
                {{ 'WISHLIST_EMPTY_TITLE' | translate }}
              </p>
            </div>
          }

          <!-- Items -->
          @for (feature of sortFeatureList(); track $index) {
            @if (feature.enabled) {
              <div [@fadeInOut] class="relative bg-gradient-to-br from-white via-slate-50 to-blue-50 dark:from-slate-800
                                       dark:via-slate-800 dark:to-slate-900 flex h-[380px] flex-col overflow-hidden
                                       rounded-2xl shadow hover:shadow-xl transition-all duration-500 !border-gray-300
                                       dark:!border-gray-700 border-1 before:absolute before:inset-0
                                       before:bg-gradient-to-br before:from-white before:via-slate-50
                                       before:to-blue-50 dark:before:from-slate-800 dark:before:via-slate-800
                                       dark:before:to-slate-900 before:rounded-2xl before:transition-all
                                       before:duration-500 hover:before:brightness-[0.90]
                                       dark:hover:before:brightness-125 before:z-0">
                <div class="flex flex-col p-6 relative z-10">
                  <!-- Head -->
                  <div class="flex items-center justify-between">
                    <div class="rounded-full px-3 py-0.5 text-xs font-semibold text-white transition-colors
                                duration-500" [style.background-color]="tags[feature.tag_id - 1].color">
                      {{ tags[feature.tag_id - 1].name | translate }}
                    </div>

                    <img [ngSrc]="feature.icon_url" alt="Clank ~ Discord-Bot (Levelsystem-Icon)" height="32" width="32" class="w-6 h-6" />
                  </div>

                  <!-- Content -->
                  <div class="mt-4 text-lg font-medium text-black dark:!text-white transition-colors duration-500">
                    {{ feature.name | translate }}
                  </div>
                  <div class="text-gray-600 dark:text-gray-400 mt-0.5 transition-colors duration-500 line-clamp-3"
                       [title]="feature.desc | translate">
                    {{ feature.desc | translate }}
                  </div>
                  <div class="my-6 h-1 w-16 border-t-2 dark:border-gray-700 transition-colors duration-500"></div>

                  <div class="flex items-center text-sm leading-5">
                    <fa-icon [icon]="faThumbsUp" class="me-2 text-gray-500 dark:text-gray-400 mt-0.5 transition-colors duration-500"></fa-icon>
                    <p class="text-gray-500 dark:text-gray-400 transition-colors duration-500 mb-0 line-clamp-1">
                      {{ 'WISHLIST_VOTES_PLACEHOLDER' | translate: { votes: feature.votes, dislikes: feature.dislikes } }}
                    </p>
                  </div>
                  <div class="flex items-center text-sm leading-5">
                    <fa-icon [icon]="faClock" class="me-2 text-gray-500 dark:text-gray-400 mt-0.5 transition-colors duration-500"></fa-icon>
                    <p class="text-gray-500 dark:text-gray-400 mb-0 transition-colors duration-500 line-clamp-1">
                      {{ 'WISHLIST_CREATION_PLACEHOLDER' | translate: { date: feature.created_at } }}
                    </p>
                  </div>

                </div>

                <!-- Footer -->
                <div class="mt-auto flex w-full flex-col">
                  <div class="relative h-0.5">
                    <div class="absolute inset-0 w-full transition-colors duration-500"
                         [ngClass]="feature.votes === 0 && feature.dislikes > 0 ? 'bg-red-500' : 'bg-gray-200 dark:bg-gray-600'"></div>
                    <div class="absolute z-2 inset-0 transition-colors duration-500"
                         [style.width.%]="(feature.votes / (feature.votes + feature.dislikes)) * 100"
                         [ngClass]="{
                       'bg-red-500': (feature.votes / (feature.votes + feature.dislikes)) * 100 < 25,
                       'bg-yellow-500': (feature.votes / (feature.votes + feature.dislikes)) * 100 >= 25 &&
                                        (feature.votes / (feature.votes + feature.dislikes)) * 100 < 50,
                       'bg-green-500': (feature.votes / (feature.votes + feature.dislikes)) * 100 >= 50}"></div>
                  </div>
                  <div class="px-6 py-3 bg-transparent flex justify-between transition-colors duration-500 relative">
                    @if (!this.isLoadingActive(feature.id)) {
                      <button (click)="sendFeatureVote(feature.id, false)" [disabled]="isCooldownActive(feature.id)"
                              [ngClass]="isCooldownActive(feature.id) ? 'cursor-not-allowed bg-gray-600' : 'cursor-pointer bg-gradient-to-r hover:bg-gradient-to-br'"
                              type="button" class="text-white from-red-400 via-red-500 to-red-600
                                                     focus:ring-4 focus:outline-none focus:ring-red-300
                                                     dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg
                                                     dark:shadow-red-800/80 font-medium rounded-lg text-sm px-3 py-2.5
                                                     text-center">
                        {{ 'WISHLIST_VOTE_BUTTON_NO' | translate }} 👎
                      </button>

                      <button (click)="sendFeatureVote(feature.id, true)" [disabled]="isCooldownActive(feature.id)"
                              [ngClass]="isCooldownActive(feature.id) ? 'cursor-not-allowed bg-gray-600' : 'cursor-pointer bg-gradient-to-r hover:bg-gradient-to-br'"
                              type="button" class="text-white from-green-400 via-green-500 to-green-600
                                                     focus:ring-4 focus:outline-none focus:ring-green-300
                                                     dark:focus:ring-green-800 shadow-lg shadow-green-500/50
                                                     dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg
                                                     text-sm px-3 py-2.5 text-center">
                        👍{{ 'WISHLIST_VOTE_BUTTON_YES' | translate }}
                      </button>

                    } @else {
                      <div class="flex items-center justify-center w-full">
                        <img ngSrc="assets/img/icons/sidebar/loading.svg" alt="Clank ~ Discord-Bot (Loading-Icon)"
                             class="h-10 w-10" height="40" width="40">
                      </div>
                    }
                  </div>
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
  </section>

</dashboard-layout>
